.titulo {
    font-size: 30px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30%;
    margin-top: 30px;
}

.titulo:hover {
color: #e2001a;
}

.trofeos p {
    font-size: 30px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-top: 50px;

}

.trofeos img {
    margin-left: 27%;
    margin-top: 4%;
    margin-bottom: 30%;

}