* {

    margin: 0;
    padding: 0;
    list-style: none;
    /* Box-sizing ----> Toma del borde, relleno y ancho de la página*/
    box-sizing: border-box;
}



.carousel-inner {
    width: 100%;
    height: 65vh;
}